.card{
    width: 40%;
    height: 550px;
    margin-top: 20px;
}

.btn.btn-warning{
    margin-left: 70px;
}

.card-img-top{
    width: 280px;
    height: 350px;
}

h6{
    margin-bottom: 10px;
}

body{
    background-color:blanchedalmond;

}

